# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/

# VS Code settings
.vscode/

# MacOS specific
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/
